= simple_form_for [@route, @route_element] do |f|
  = f.error_notification

  .form-inputs
    - if @route_element.start.nil?
      - _waypoints_start = @route.area.waypoints.order(:name).all
    - else
      - _waypoints_start = @route_element.continue_waypoints_start

    - if @route_element.finish.nil?
      - _waypoints_finish = @route.area.waypoints.order(:name).all
    - else
      - _waypoints_finish = @route_element.continue_waypoints_finish || Waypoint.near(@route_element).order(:name).all

    = f.input :waypoint_start_id, as: :select, collection: _waypoints_start, include_blank: false, label_method: :collection_label
    = f.input :waypoint_finish_id, as: :select, collection: _waypoints_finish, include_blank: false, label_method: :collection_label

    = f.input :real_distance
    = f.input :real_d_elevation
    = f.input :real_time_distance

  .form-actions
    = f.button :submit
