%h1 Continue route

%p
  Last
  = link_to route_route_element_path(@route, @last_route_element) do
    route element
  was from
  = link_to area_waypoint_path(@route.area.id, @last_route_element.start) do
    = @last_route_element.start.name
  to
  = link_to area_waypoint_path(@route.area, @last_route_element.finish) do
    = @last_route_element.finish.name


  
= render 'form'

= link_to 'Back', route_route_elements_path(params[:route_id])
