- default_full = false
- title = "#{t('route.title')} - #{@route.name} - #{t('route_element.plural')}"
- content_for :title, title
%h1= title

= paginate collection
%br

%table.table.table-striped.table-bordered
  %tr
    %th Waypoint
    %th Distance [m]
    %th &#916; Elevation [m]
    %th Time distance [min]
    %th= t('details')
    %th
    %th= t('edit')
    %th= t('delete')

  - collection.each do |route_element|
    %tr
      %td
        = link_to area_waypoint_path(route_element.waypoint.area, route_element.waypoint) do
          = route_element.waypoint.name

      %td
        - if route_element.real_distance
          = route_element.real_distance
          (
          = route_element.distance
          )
        - else
          = route_element.distance

      %td
        - if route_element.real_d_elevation
          = route_element.real_d_elevation
          (
          = route_element.d_elevation
          )
        - else
          = route_element.d_elevation

      %td
        - if route_element.real_time_distance
          = route_element.real_time_distance
          (
          = route_element.time_distance
          )
        - else
          = route_element.time_distance

      %td
        = link_to route_route_element_path(route_element.route, route_element), class: 'btn btn-mini btn-info' do
          %i.icon-search
          = t('details')
          
      %td
        - unless route_element.is_first_on_route?
          = link_to 'Google', route_element.google_url, target: '_blank', class: 'btn btn-mini'

      %td
        - unless route_element.url.blank?
          = link_to 'URL', route_element.url, target: '_blank', class: 'btn btn-mini'

      %td
        - if can? :edit, route_element
          = link_to edit_route_route_element_path(route_element.route, route_element), class: 'btn btn-mini' do
            %i.icon-edit

      %td
        - if can? :destroy, route_element
          = link_to route_route_element_path(route_element.route, route_element), confirm: t('are_you_sure'), method: :delete, class: 'btn btn-mini btn-danger' do
            %i.icon-remove

%br

.btn-group
  - if can?(:create, RouteElement) and can?(:edit, @route)
    = link_to new_route_route_element_path(@route), class: 'btn' do
      %i.icon-pencil
      = t('route.add_new_element')
  - if can?(:read, @route)
    = link_to @route, class: 'btn' do
      %i.icon-road
      = t('route.title')
