- default_full = false
- title = "#{t('route.title')} - #{@route.name} - #{t('route_element.plural')}"
- content_for :title, title
%h1= title

= paginate collection
%br

%table.table.table-striped.table-bordered
  %tr
    %th Waypoint
    %th Distance [m]
    %th &#916; Elevation [m]
    %th Time distance [min]

  - @route_elements.each do |route_element|
    %tr
      %td
        = link_to area_waypoint_path(route_element.waypoint.area, route_element.waypoint) do
          = route_element.waypoint.name

      %td
        - if route_element.real_distance
          = route_element.real_distance
          (
          = route_element.distance
          )
        - else
          = route_element.distance

      %td
        - if route_element.real_d_elevation
          = route_element.real_d_elevation
          (
          = route_element.d_elevation
          )
        - else
          = route_element.d_elevation

      %td
        - if route_element.real_time_distance
          = route_element.real_time_distance
          (
          = route_element.time_distance
          )
        - else
          = route_element.time_distance

      %td= link_to 'Show', route_route_element_path(route_element.route, route_element)
      -#%td= link_to 'Google', route_element.google_url, target: '_blank'
      - if can? :edit, @route
        %td= link_to 'Edit', edit_route_route_element_path(route_element.route, route_element)
      - if can? :edit, @route
        %td= link_to 'Destroy', route_route_element_path(route_element.route, route_element), :confirm => 'Are you sure?', :method => :delete

%br

- if can? :edit, @route
  = link_to 'Add route element', new_route_route_element_path(params[:route_id])
