%p
  %b Area:
  = @route.area.name
%p
  %b Waypoints:
  = link_to area_waypoint_path(@route_element.waypoint.area, @route_element.waypoint) do
    = @route_element.waypoint.name

-#%p
-#  %b Distance [m] (calculated):
-#  = @route_element.distance
-#%p
-#  %b Distance [m] (real):
-#  = @route_element.real_distance
-#
-#%p
-#  %b &#916; Elevation [m] (calculated):
-#  = @route_element.d_elevation
-#%p
-#  %b &#916; Elevation [m] (real):
-#  = @route_element.real_d_elevation
-#
-#
-#%p
-#  %b Distance [min] (calculated)::
-#  = @route_element.time_distance
-#
-#%p
-#  %b Distance [min] (real):
-#  = @route_element.real_time_distance

- if can? :edit, @route
  %p
    %strong
      = link_to 'Continue route by adding new elements', continue_route_route_elements_path(@route)

- if can? :edit, @route
  = link_to 'Edit', edit_route_route_element_path(@route, @route_element)
  |
= link_to 'Back', route_route_elements_path(@route)
