%table.table
  %tr
    %td
      = t('area.title')
    %td{colspan: 2}
      = @route.area.name

  %tr
    %td
      = t('waypoint.title')
    %td{colspan: 2}
      = link_to area_waypoint_path(@route_element.waypoint.area, @route_element.waypoint) do
        = @route_element.waypoint.name

  %tr
    %td
      = t('route_element.distance')
    %td
      = @route_element.distance
      %span.small= t('_calculated_')
    %td
      - unless @route_element.real_distance.blank?
        = @route_element.real_distance
        %span.small= t('_real_')

  %tr
    %td
      = t('route_element.d_elevation')
    %td
      = @route_element.d_elevation
      %span.small= t('_calculated_')
    %td
      - unless @route_element.real_d_elevation.blank?
        = @route_element.real_d_elevation
        %span.small= t('_real_')

  %tr
    %td
      = t('route_element.time_distance')
    %td
      = @route_element.time_distance
      %span.small= t('_calculated_')
    %td
      - unless @route_element.real_time_distance.blank?
        = @route_element.real_time_distance
        %span.small= t('_real_')

- if can? :edit, @route
  %p
    %strong
      = link_to 'Continue route by adding new elements', continue_route_route_elements_path(@route)

- if can? :edit, @route
  = link_to 'Edit', edit_route_route_element_path(@route, @route_element)
  |
= link_to 'Back', route_route_elements_path(@route)
