= form_for @area do |f|
  -if @area.errors.any?
    #error_explanation
      %h2= "#{pluralize(@area.errors.count, "error")} prohibited this area from being saved:"
      %ul
        - @area.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :area_type
    = f.select :area_type, Area::TYPES.keys
  .actions
    = f.submit 'Save'
