%h1 Listing areas

= paginate @areas
%br

%table
  %tr
    %th
    %th Area type
    %th Name
    %th Waypoints

  - @areas.each do |area|
    %tr
      %td= image_tag "garmin/#{area.img_symbol}"
      %td= area.area_type
      %td= area.name
      - if can? :read, Waypoint
        %td= link_to "Waypoints (#{area.waypoints.count})", area_waypoints_path(area)
      %td= link_to 'Show', area
      - if can? :edit, area
        %td= link_to 'Edit', edit_area_path(area)
      - if can? :destroy, area
        %td= link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete

= paginate @areas
%br

- if can? :create, Area
  = link_to 'New Area', new_area_path
