%h1 Listing areas

= paginate collection
%br

%table
  %tr
    %th
    %th= link_to_sorted "Area Type", :area_type
    %th= link_to_sorted "Name", :name
    %th Waypoints

    %th Show
    %th Edit
    %th Destroy

  - collection.each do |area|
    %tr
      %td= image_tag "garmin/#{area.img_symbol}"
      %td= area.area_type
      %td= area.name
      %td
        - if can? :read, Waypoint
          = link_to "Waypoints (#{area.waypoints.count})", area_waypoints_path(area)
      %td= link_to 'Show', area
      %td
        - if can? :edit, area
          = link_to 'Edit', edit_area_path(area)
      %td
        - if can? :destroy, area
          = link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete

  %tr
    %td
    %td= "N/A"
    %td
      - if can? :read, Waypoint
        = link_to "Waypoints (#{Waypoint.wo_area.count})", waypoints_path(wo_area: 't')
    %td
    %td
    %td


= paginate collection
%br

- if can? :create, Area
  = link_to 'New Area', new_area_path
