- default_full = false
- title = "#{t('area.title')} - #{resource.name}"
- content_for :title, title
%h1= title

= raw simple_model_details(resource, timestamps: true)

= link_to 'Edit', edit_area_path(resource)
\|
= link_to 'Back', areas_path
