- default_full = false
- title = "#{t('area.title')} - #{resource.name}"
- content_for :title, title
%h1= title

= raw simple_model_details(resource, timestamps: true)

.btn-group
  - if can?(:edit, resource)
    = link_to edit_area_path(resource), class: 'btn' do
      %i.icon-edit
      = t(:edit)
  - if false and can?(:manage, resource)
    = link_to resource, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-danger' do
      %i.icon-remove
      = t(:delete)
  - if can?(:read, resource.class)
    = link_to areas_path, class: 'btn' do
      %i.icon-search
      = t(:back)

