= simple_form_for @waypoint do |f|
  = f.input :lat
  = f.input :lon
  = f.input :dms_coords
  = f.input :elevation
  = f.input :name
  = f.input :sym, as: :select, collection: Waypoint::SYMBOLS.keys, include_blank: false
  = f.input :area_id, as: :select, collection: Area.all#, :selected => @waypoint.area_id || params[:area_id]

  = f.button :submit

%p
  %b Google maps:
  = link_to "map", @waypoint.google_maps_path
