- default_full = false
%table.table.table-striped.table-bordered
  %tr
    %th
    %th= link_to_sorted "Name", :name
    %th= link_to_sorted "Area", :area_id

    %th= link_to_sorted "El", :elevation
    %th= link_to_sorted "Lat/Lon", [:lat, :lon]

    %th Show
    %th= link_to_sorted "Url", :url
    %th Map
    %th Edit
    %th Destroy


  - collection.each do |waypoint|
    %tr
      %td= image_tag "garmin/#{waypoint.img_symbol}", size: "20x20"
      %td
        - if waypoint.is_private
          = image_tag 'padlock.png'
        = waypoint.name
      %td
        - unless waypoint.area.nil?
          - if can? :read, waypoint.area
            = link_to waypoint.area.name, waypoint.area
          - else
            = waypoint.area.name
        - else
          = ""

      %td= waypoint.elevation
      %td
        = waypoint.lat_short
        ,
        = waypoint.lon_short

      %td
        - if waypoint.area
          - _url = area_waypoint_path(waypoint.area, waypoint)
        - else
          - _url = waypoint
        = link_to _url, class: 'btn btn-sm btn-info' do
          %i.icon-search
          = t('details')
      %td
        - unless waypoint.url.blank?
          = link_to waypoint.url, class: 'btn btn-sm btn-info', target: '_blank' do
            %i.icon-globe
      %td
        = waypoint_map_link_to(waypoint)
      %td
        - if can? :edit, waypoint
          = link_to edit_waypoint_path(waypoint), class: 'btn btn-sm' do
            %i.icon-edit
      %td
        - if can? :destroy, waypoint
          = link_to waypoint, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-sm btn-danger' do
            %i.icon-remove
    %tr
      %td{colspan: 10}
        %div{id: "panoramio_#{waypoint.id}"}
        :javascript
          var myRequest = new panoramio.PhotoRequest({
            'rect': {'sw': {'lat': #{waypoint.sw_lat}, 'lng': #{waypoint.sw_lon} }, 'ne': {'lat': #{waypoint.ne_lat}, 'lng': #{waypoint.ne_lon} }}
          });

          var myOptions = {
            'width': 1000,
            'height': 180,
            'columns': 10,
            'rows': 1,
            'orientation': panoramio.PhotoListWidgetOptions.Orientation.HORIZONTAL,
            'croppedPhotos': true
          };

          var widget = new panoramio.PhotoListWidget('panoramio_#{waypoint.id}', myRequest, myOptions);
          widget.setPosition(0);
