- default_full = false
%table.table.table-striped.table-bordered
  %tr
    %th
    %th= link_to_sorted "Name", :name
    %th= link_to_sorted "Area", :area_id
    %th= link_to_sorted "Time", :created_at

    %th= link_to_sorted "El [m]", :elevation
    - if default_full || params[:full]
      %th= link_to_sorted "Lat/Lon", [:lat, :lon]

    %th More
    %th Prv
    %th Actions

  - collection.each do |waypoint|
    %tr
      %td= image_tag "garmin/#{waypoint.img_symbol}"
      %td
        - if waypoint.is_private
          = image_tag 'padlock.png'
        %span
          = waypoint.name
      %td
        - unless waypoint.area.nil?
          - if can? :read, waypoint.area
            = link_to waypoint.area.name, waypoint.area
          - else
            = waypoint.area.name
        - else
          = ""
      %td
        %span{title: waypoint.created_at.to_s(:db)}
          = l(waypoint.created_at, format: :short)
        - if waypoint.imported?
          %br
          = image_tag "imported.gif", style: "height: 10px;"
          %span.small{title: waypoint.imported_at.to_s(:db)}= l(waypoint.imported_at, format: :short)


      %td= waypoint.elevation
      - if default_full || params[:full]
        %td
          = waypoint.lat_short
          = waypoint.lon_short

      %td
        .btn-toolbar
          - if waypoint.area
            - _url = area_waypoint_path(waypoint.area, waypoint)
          - else
            - _url = waypoint
          = link_to _url, class: 'btn btn-mini btn-info' do
            %i.icon-search
            = t('details')

          - unless waypoint.url.blank?
            = link_to waypoint.url, class: 'btn btn-mini btn-info', target: '_blank' do
              %i.icon-globe

          .btn-group.waypoint-maps
            = waypoint_map_link_to(waypoint)

          .btn-group.waypoint-weather
            - waypoint.weather_urls.each do |wu|
              = link_to wu[:url], target: '_blank', class: 'btn btn-mini btn-info' do
                %i.icon-globe
                  = wu[:name]

            = link_to sunrise_sunset_area_waypoint_path(waypoint.area, waypoint), class: 'btn btn-mini btn-info' do
              %i.icon-globe
                = t('waypoint.sunrise')


      %td
        .btn-toolbar
          = form_for waypoint, html: {class: "form-inline"} do |f|
            = f.hidden_field :is_private, value: (! waypoint.is_private)
            = f.submit waypoint.is_private ? "Private" : "Public", class: "btn btn-mini #{waypoint.is_private ? "btn-warning" : "btn-success"}", disabled: cannot?(:edit, waypoint)


      %td
        .btn-toolbar
          - if can? :edit, waypoint
            = link_to edit_waypoint_path(waypoint), class: 'btn btn-mini' do
              %i.icon-edit

          - if can? :destroy, waypoint
            = link_to waypoint, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-mini btn-danger' do
              %i.icon-remove


