- if @area
  - title = title_string([t('waypoint.plural'), @area.name])
- else
  - title = title_string([t('waypoint.plural')])
- content_for :title, title
%h1= title

= form_tag url_for(params), method: :get, class: 'form-search form-inline' do
  = select_tag :sym, options_for_select(Waypoint::SYMBOLS.keys, params[:sym])
  = button_tag t('filter'), class: 'btn'

  -# links for special syms
  .btn-group
    = link_to t('cities'), url_for(params.merge(sym: 'Residence')), class: 'btn'
    = link_to t('places_to_rest'), url_for(params.merge(sym: 'Lodging')), class: 'btn'
    = link_to t('summits'), url_for(params.merge(sym: 'Summit')), class: 'btn'

= paginate collection
%br
- if params[:panoramio]
  = render partial: "index_panoramio"
- else
  = render partial: "index_standard"

= paginate collection

.btn-group
  - if can? :create, Waypoint
    - if @area
      = link_to new_area_waypoint_path(@area), class: 'btn' do
        %i.icon-pencil
        = t(:new_waypoint_in)
        = @area.name
    - else
      = link_to 'New Waypoint', new_waypoint_path
  - if @area and can? :read, @area
    = link_to @area.name, @area, class: 'btn'
  = link_to 'Full table', {full: true}, class: 'btn'

