%h1 Listing waypoints

- begin
  = paginate @waypoints
  %br
- rescue

%table
  %tr
    %th Type
    %th Name
    %th Area
    %th Time

    %th El.
    %th Lat / Lon
    %th Private

    %th
    %th
    %th
    %th

  - @waypoints.each do |waypoint|
    %tr
      %td= image_tag "garmin/#{waypoint.img_symbol}"
      %td= waypoint.name
      - unless waypoint.area.nil?
        %td= waypoint.area.name
      - else
        %td
      %td= waypoint.created_at.to_s(:db)

      %td= waypoint.elevation
      %td
        = waypoint.lat
        = waypoint.lon

      %td
        = form_for waypoint do |f|
          = f.hidden_field :private, value: (! waypoint.private)
          = f.submit waypoint.private ? "Enable" : "Disable"

      %td= link_to 'Show', waypoint
      %td= link_to 'Google map', waypoint.google_maps_path, target: '_blank'
      %td= link_to 'Edit', edit_waypoint_path(waypoint)
      %td= link_to 'Destroy', waypoint, :confirm => 'Are you sure?', :method => :delete

- begin
  = paginate @waypoints
  %br
- rescue

%br

= link_to 'New Waypoint', new_waypoint_path
