%h1 Listing waypoints

%table
  %tr
    %th Type
    %th Name
    %th Time

    %th Elevation
    %th Lat
    %th Lon

    %th
    %th
    %th
    %th

  - @waypoints.each do |waypoint|
    %tr
      %td= image_tag "garmin/#{waypoint.img_symbol}"
      %td= waypoint.name
      %td= waypoint.created_at.to_s(:db)

      %td= waypoint.elevation
      %td= waypoint.lat
      %td= waypoint.lon

      %td= link_to 'Show', waypoint
      %td= link_to 'Google map', waypoint.google_maps_path, target: '_blank'
      %td= link_to 'Edit', edit_waypoint_path(waypoint)
      %td= link_to 'Destroy', waypoint, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Waypoint', new_waypoint_path
