%h1 Listing waypoints

= paginate @waypoints
%br

%table
  %tr
    %th Type
    %th Name
    %th Area
    %th Time

    %th El.
    %th Lat / Lon
    %th Private

  - @waypoints.each do |waypoint|
    %tr
      %td= image_tag "garmin/#{waypoint.img_symbol}"
      %td
        - if waypoint.private
          = image_tag 'padlock.png'
        = waypoint.name
      - unless waypoint.area.nil?
        %td= waypoint.area.name
      - else
        %td
      %td= waypoint.created_at.to_s(:db)

      %td= waypoint.elevation
      %td
        = waypoint.lat
        = waypoint.lon

      %td
        - if can? :edit, waypoint
          = form_for waypoint do |f|
            = f.hidden_field :private, value: (! waypoint.private)
            = f.submit waypoint.private ? "Enable" : "Disable"
        - else
          = waypoint.private ? "Private" : "Public"

      %td= link_to 'Show', waypoint
      %td= link_to 'Google map', waypoint.google_maps_path, target: '_blank'
      - if can? :edit, waypoint
        %td= link_to 'Edit', edit_waypoint_path(waypoint)
      - if can? :destroy, waypoint
        %td= link_to 'Destroy', waypoint, :confirm => 'Are you sure?', :method => :delete

= paginate @waypoints
%br

- if params[:area_id]
  - _area = Area.find(params[:area_id])
  = link_to new_area_waypoint_path(_area) do
    = "New Waypoint in "
    %strong
      = _area.name
- else
  = link_to 'New Waypoint', new_waypoint_path
