%p#notice= notice

%p
  %b Lat:
  = @waypoint.lat
%p
  %b Lon:
  = @waypoint.lon
%p
  %b Elevation:
  = @waypoint.elevation
%p
  %b Name:
  = @waypoint.name
%p
  %b Symbol:
  = @waypoint.sym
- unless @waypoint.area.nil?
  %p
    %b
      Area:
      = link_to area_waypoints_path(@waypoint.area) do
        = @waypoint.area.name
%p
  %b Google maps:
  = link_to "map", @waypoint.google_maps_path, target: '_blank'
%p
  %b Owner:
  = link_to @waypoint.user.name, @waypoint.user

= link_to 'Edit', edit_waypoint_path(@waypoint)
\|
= link_to 'Back', waypoints_path
