%p#notice= notice

%p
  %b Lat:
  = resource.lat
%p
  %b Lon:
  = resource.lon
%p
  %b Elevation:
  = resource.elevation
%p
  %b Name:
  = resource.name
- if resource.url
  %p
    %b Url:
    = link_to resource.url, resource.url, target: '_blank'
%p
  %b Symbol:
  = resource.sym
- unless resource.area.nil?
  %p
    %b
      Area:
      = link_to area_waypoints_path(resource.area) do
        = resource.area.name
%p
  %b Maps:
  = waypoint_map_link_to(resource)
%p
  %b Owner:
  - if resource.user.nil?
    = "N/A"
  - else
    = link_to resource.user.name, resource.user

- if can? :edit, resource
  = link_to 'Edit', edit_resource_path(resource)
  |
= link_to 'Back', collection_path
