= simple_form_for @route do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    = f.input :area_id, as: :select, collection: Area.all, include_blank: false

  .form-actions
    = f.button :submit
