- default_full = false
- title = "#{t('route.plural')}"
- content_for :title, title
%h1= title

= paginate collection
%br

%table.table.table-striped.table-bordered
  %tr
    %th= link_to_sorted "Area", :area_id
    %th= link_to_sorted "Name", :name
    %th= link_to_sorted "Url", :url
    - if false
      %th= link_to_sorted "Distance [m]", :distance
      %th= link_to_sorted "Distance [min]", :time_distance
    - else
      %th Distance [m]
      %th Distance [min]

    %th Elements
    %th Show
    %th Edit
    %th Destroy

  - collection.each do |route|
    %tr
      %td
        = link_to route.area do
          - route.area.name
      %td= route.name
      %td
        - unless route.url.blank?
          = link_to route.url, class: 'btn btn-sm btn-info', target: '_blank' do
            %i.icon-globe
      %td= route.distance
      %td
        = route.time_distance_human
        (
        = route.time_distance
        min )
      %td
        - if can? :read, RouteElement
          = link_to route_route_elements_path(route), class: 'btn btn-sm' do
            %i.icon-list
            = "#{t('route_element.plural')} (#{route.route_elements.count})"
      %td
        = link_to route, class: 'btn btn-sm btn-info' do
          %i.icon-search
          = t('details')
      %td
        - if can? :edit, route
          = link_to edit_route_path(route), class: 'btn btn-sm' do
            %i.icon-edit
      %td
        - if can? :destroy, route
          = link_to route, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-sm btn-danger' do
            %i.icon-remove


%br


.btn-group
  - if can?(:create, Route)
    = link_to new_resource_path, class: 'btn' do
      %i.icon-pencil
      = t(:new)
