%h1 Listing routes

= paginate collection
%br

%table.table.table-striped.table-bordered
  %tr
    %th= link_to_sorted "Area", :area_id
    %th= link_to_sorted "Name", :name
    %th= link_to_sorted "Url", :url
    - if false
      %th= link_to_sorted "Distance [m]", :distance
      %th= link_to_sorted "Distance [min]", :time_distance
    - else
      %th Distance [m]
      %th Distance [min]

    %th Elements
    %th Show
    %th Edit
    %th Destroy

  - collection.each do |route|
    %tr
      %td
        = link_to route.area do
          - route.area.name
      %td= route.name
      %td
        - unless route.url.blank?
          = link_to "URL", route.url
      %td= route.distance
      %td
        = route.time_distance_human
        (
        = route.time_distance
        min )
      %td
        - if can? :read, RouteElement
          = link_to 'Elements', route_route_elements_path(route)
      %td= link_to 'Show', route
      %td
        - if can? :edit, route
          = link_to 'Edit', edit_route_path(route)
      %td
        - if can? :destroy, route
          = link_to 'Destroy', route, :confirm => 'Are you sure?', :method => :delete


%br

= paginate collection
%br

- if can? :create, Route
  = link_to 'New Route', new_route_path
