%p#notice= notice

%p
  %b Area:
  = @route.area.name
%p
  %b Name:
  = @route.name
%p
  %b Url:
  = link_to @route.url do
    = @route.url
%p
  %b Distance [m]:
  = @route.distance
%p
  %b Distance [min]:
  = @route.time_distance
%p
  %b Elements:
  = @route.route_elements.count


%hr

%ol
  - @route.route_elements.each do |route_element|
    %li
      = route_element.start.name
      = "-"
      = route_element.finish.name

%hr

#map_links
  Map (zoom):
  - (12..16).each do |zoom|
    = link_to zoom.to_s, route_path(@route, format: :png, zoom: zoom)

%hr

= link_to 'Elements', route_route_elements_path(@route)
|
- if can? :edit, @waypoint
  = link_to 'Edit', edit_route_path(@route)
  |
= link_to 'Back', routes_path
