%table.table
  %tr
    %td
      = t('area.title')
    %td
      = resource.area.name

  %tr
    %td
      = t('route.name')
    %td
      = resource.name

  - unless resource.url.blank?
    %tr
      %td
        = t('route.url')
      %td
        = link_to resource.url, resource.url

  %tr
    %td
      = t('route.distance')
    %td
      = resource.distance
  %tr
    %td
      = t('route_element.d_elevation')
    %td
      = resource.d_elevation
  %tr
    %td
      = t('route_element.time_distance')
    %td
      = resource.time_distance_human
      (
      = resource.time_distance
      )



%p
  = t('route_element.plural')
  = "-"
  = resource.route_elements.count

%table.table
  - resource.route_elements.each_with_index do |route_element, i|
    %tr
      %td
        = i + 1
      %td
        - if can? :read, route_element
          = link_to route_element.waypoint.name, route_route_element_path(resource, route_element)
        - else
          = route_element.waypoint.name


-#%p
-#  %b Url:
-#  = link_to @route.url do
-#    = @route.url
-#%p
-#  %b Elements:
-#  = @route..count
-#
-#
-#%hr
-#
-#%ol
-#  -
-#
-#%hr
-#
-##map_links
-#  Map (zoom):
-#  - sizes = {small: [400, 400], medium: [800, 600], big: [1200, 800], huge: [2000, 1500] }
-#  - sizes.keys.each do |size|
-#    = link_to size.to_s, route_path(@route, format: :png, width: sizes[size][0], height: sizes[size][1]), target: '_blank'
-#
-#%hr
-#
-#= link_to 'Elements', route_route_elements_path(@route)
-#|
-#- if can? :edit, @waypoint
-#  = link_to 'Edit', edit_route_path(@route)
-#  |
-#= link_to 'Back', routes_path
