!!!
%html

  %head
    %title
      - _title = yield(:title).to_s
      - _title += " | " unless _title.empty?
      - _title += "Waypoint manager"
      = _title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      #menu
        = link_to "About", page_path("about")
        |
        = link_to "Areas", areas_path
        |
        = link_to "Waypoints", waypoints_path
        |
        = link_to "Routes", routes_path
        - if can? :manage, Importer
          |
          = link_to "Importer", new_importer_path
        - if controller_name == "waypoints"
          - if false
            - unless params[:public]
              |
              = link_to "Public", public: :true
            - unless params[:private]
              |
              = link_to "Private", private: :true
            - unless params[:public].nil? and params[:private].nil?
              |
              = link_to "All", public: nil, private: nil
          - if action_name == 'index'
            |
            = link_to "Export to GPX", format: :gpx

        |
        - if current_user
          = link_to current_user.email, user_path(current_user)
          - if current_user.admin
            %strong
              (ADMIN)
          |
          = link_to "Sing out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_session_path
          |
          = link_to "Sign up", new_user_registration_path


      %hr

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
