!!!
%html

  %head
    %title
      - _title = yield(:title).to_s
      - _title += " | " unless _title.empty?
      - _title += "Waypoint manager"
      = _title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      #menu
        = link_to "Areas", areas_path
        |
        = link_to "Waypoints", waypoints_path(page: 1)
        |
        = link_to "Importer", new_importer_path
        - if controller_name == "waypoints"
          - unless params[:public]
            |
            = link_to "Public", public: :true
          - unless params[:private]
            |
            = link_to "Private", private: :true
          - unless params[:public].nil? and params[:private].nil?
            |
            = link_to "All", public: nil, private: nil

          |
          = link_to "Export to GPX", format: :gpx

      %hr

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
